@charset "UTF-8";
/* Generales */
* {
  Margin: 0;
  padding: 0; }

body {
  font-family: 'PT Sans', sans-serif; }

/* Header */
body nav {
  background-color: #037c03; }

/* Index */
#paddingIndex {
  padding-right: 3px;
  padding-left: 3px; }

#blur {
  background-image: url(../Fotos/Fondo.png);
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }

.fondo-text {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  text-align: center;
  letter-spacing: 10px;
  color: whitesmoke; }

.fondo_tittle {
  font-size: 75px;
  color: #00e213; }

.alingCarousel {
  position: absolute;
  top: 35%;
  left: 30%; }

main section span {
  text-align: center;
  margin: 0.65cm 2cm 0.65cm 3.4cm; }

.paragraph {
  color: #037c03;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0.5cm; }

.paragraph__Text--FontSize {
  font-size: 24px;
  border: 1px solid #037c03;
  background-color: #037c03;
  color: white;
  margin: 1cm 15cm 1cm 15cm; }

.paragraph__Text {
  font-size: 22px;
  margin-top: 0.5cm; }

.paragraph__Img {
  height: 100px;
  margin: 0.65cm 1.5cm 0.65cm 3cm;
  width: 150px; }

/* Triple Impacto */
#paddingTriple {
  padding-right: 3px;
  padding-left: 3px; }

.tripleImpacto {
  display: flex;
  flex-direction: column;
  flex-grow: 0; }

.tripleImpacto__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  margin: 0.5cm 5cm 0.5cm 5cm;
  justify-content: center; }

.tripleImpacto__column {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0cm 0.5cm 0 1cm; }

.tripleImpacto__img {
  height: 300px;
  width: 320px; }

/* Servicios */
#paddingService {
  padding-right: 3px;
  padding-left: 3px; }

.servicios {
  display: flex;
  flex-direction: column;
  flex-grow: 0; }

.servicios__row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 0.5cm 5cm 0.5cm 5cm;
  width: 26cm; }

.servicios__margin {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0cm 0.5cm 0 1cm; }

.servicios__margin--margin {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 0cm 10cm 0cm 1cm; }

@media only screen and (max-width: 480px) {
  #sociales {
    font-size: 17px; }
  #ambientales {
    font-size: 17px; }
  #formación {
    font-size: 17px; }
  #estrategia {
    font-size: 17px; }
  #marketing {
    font-size: 17px; }
  .servicios__row {
    margin: 0.3cm 0.01cm 0.3cm 0.01cm;
    width: 9cm; }
  .servicios__margin {
    margin: 0cm 0.1cm 0 0.1cm;
    font-size: 12px; }
  .servicios__margin--margin {
    margin: 0cm 0.1cm 0cm 0.1cm;
    font-size: 12px; }
  .tripleImpacto__img {
    height: 120px;
    width: 130px; } }

#paddingContact {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 0px;
  padding-left: 0px; }

/* Footer */
footer {
  background-color: #037c03; }

.footer {
  display: flex;
  flex-direction: row;
  flex-grow: 0; }

.footer__privacidad {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0.5cm 2cm 0cm 1cm; }

.footer__rrss {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.footer__contacto {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.footer__img {
  width: 50px;
  height: 50px; }

.footer__imgDos {
  width: 20px;
  height: 20px; }

.footer__imgTwt {
  width: 40px;
  height: 40px; }
